<div class="row">
    <h3>PRIVACY POLICY</h3>
    <p>
This privacy policy sets out how Exchange Books uses and protects any information that you provide Exchange Books. 
Exchange Books is devoted to ensuring that your privacy is protected. Should we ask you to 
provide certain information by which you can be identified when accessing your account 
information, you can be assured that such information will only be used in accordance 
with this privacy statement. We do not share your non‐public personal 
information with unaffiliated third parties. Please read this policy carefully. 
It gives you important information about how we handle your 
personal information. Exchange Books reserves the right to change this policy at any time. 
    </p>
</div>

<div class="row">
    <h3>USE OF INFORMATION</h3>
    <p>
We don't collect any personal information other than ones used for registration purposes. 
    </p>
</div>

<div class="row">
    <h3>WHAT WE COLLECT</h3>
    <p>
We collect first name, last name and email address for account identification purpose.
    </p>
</div>

<div class="row">
  <h3>SECURITY</h3>
    <p>
Communication with website and other dependent entities are protected by SSL protocol.
    </p>
</div>
