@{
    Layout = "_HeadlessLayout";
}

<div class="row">
    <h2>Support</h2>

    <h3>Illegal, abusive, vulgar content</h3>
    <p>Please use the app's inbuilt feature to hide or flag such content, the moderator will act within 24 hours on the
        specific content.
        Also, you can hide the specific post or all the posts for a user.
    </p>

    <h3>Contact Us</h3>
    <p>
        <a asp-action="Email" asp-controller="Home">Email</a>
    </p>
</div>
